<h1 class="title" data-bind="total"></h1>
<h3 class="total" data-bind="lines"></h3>
<br>

<h1 class="title" data-bind="title"></h1>
<br>

<ol>
  <li data-foreach-item="items">
    <span class="label" data-bind="item.label"></span>
    <span class="value" data-bind="item.value"></span>
  </li><br>
  <br>
  <br>
</ol>

<ul class="list-nostyle">
  <li data-foreach-item="items">
    <span class="label" data-bind="item.label"></span>
    <span class="value" data-bind="item.value"></span>
  </li><br>
   <br>
  <br>
</ul>

<p class="updated-at" data-bind="updatedAtMessage"></p>
