<div class="section group">
  <div class="col span_3_of_5" id="about">
  	<h2>About the Trackathon Team</h2>
			<div id="about_text">
				<p>On September 15th, 2014, the creators of Trackathon jumped straight into the deep end of the coding pool 
				by starting their first day at <a class="about_link" href="http://www.makersacademy.com">Makers Academy</a>.</p>
				<p>Ten weeks (and more technologies than we care to list) later, final project time rolled around. 
				Makers' brave students were presented with many potential challenges, including that of 
				providing a tool for tracking teams' progress throughout the course of a hackathon.</p>
				<p>Five unlikely heroes rose to that challenge, persevering through many coding hardships. 
				After two weeks of blood, sweat, tears, and many cans of Pringles, our team is proud to unleash
				Trackathon upon the world.</p>
			</div>
	</div>


	<div class="col span_2_of_5" id="members">
		<h2>Our Members</h2>
		<br>
				<p><a class="about_link" href="http://www.github.com/alexfakhri">Alex Fakhri</a></p>

				<p><a class="about_link" href="http://www.github.com/camillavk">Camilla van Klinken</a></p>

				<p><a class="about_link" href="http://www.github.com/ellanancyfay">Ella Schofield</a></p>

				<p><a class="about_link" href="http://www.github.com/barr-code">Victoria Barr</a></p>

				<p><a class="about_link" href="http://www.github.com/yvettecook">Yvette Cook</a></p>

	</div>
</div>