<%= @project.name %>


<form action="post">
	<input type="checkbox" class="milestone" name="product" value="product" id="product" >Product<br>
	<input type="checkbox" class="milestone" name="design" value="design" id="design" >Design<br>
	<input type="checkbox" class="milestone" name="frontdev" value="frontdev" id="frontdev" >Front-end Development<br>
	<input type="checkbox" class="milestone" name="backdev" value="backdev" id="backdev" >Back-end Development<br>
	<input type="checkbox" class="milestone" name="presentation" value="presentation" id="presentation" >Presentation<br>
</form>