<%= @project.name %>

<ul>
  <li><a href="#" id="product">Product</a></li>
  <li><a href="#" id="design">Design</a></li>
  <li><a href="#" id="frontdev">Front-end Development</a></li>
  <li><a href="#" id="backdev">Back-end Development</a></li>
  <li><a href="#" id="presentation">Presentation</a></li>
</ul>
