/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*GOOGLE FONTS*/
 /*@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,400);*/

 /*body*/
 body {
   background-color: #272727;
   max-width: 1280px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
 }

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0.8% 0.8% 0.8% 0.8%;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0% 0 0% 0.8%;
}
.col:first-child { margin-left: 0; }

/*  PROJECT TILE STYLING  */

#title_tile {
  box-sizing: border-box;
  height: 240px;
  background-color: #f1c40f;
  font-family: 'Open Sans', sans-serif;
}

   h2 {
    font-weight: 400;
    font-size: 30px;
    color: white;
    opacity: 0.7;
    margin-top: 50px;
  }

  #hackathon_link {
    vertical-align: baseline;
  }

#project-description {
  box-sizing: border-box;
  height: 240px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #dc5945;
}

#product_tile, #design_tile, #frontdev_tile, #backdev_tile, #presentation_tile {
  box-sizing: border-box;
  height: 240px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

  h3 {
    margin-top: 45%;
    margin-bottom: 0;
    font-weight: 400;
    opacity: 0.9;
  }

  .milestone {
    position: absolute;
    bottom: 0;
    right: 0;
  }


#product_tile {
  background-color: #dc5945;
}

#design_tile {
  background-color: #eb9c3c;
}

#frontdev_tile {
  background-color: #9c4274;
}

#backdev_tile {
  background-color: #12b0c5;
}

#presentation_tile {
  background-color: #A2BF4B;
}

/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

pgrid
/*  GRID OF FIVE  */
.span_5_of_5 {
	width: 100%;
}
.span_4_of_5 {
	width: 79.84%;
}
.span_3_of_5 {
	width: 59.68%;
}
.span_2_of_5 {
	width: 39.52%;
}
.span_1_of_5 {
	width: 19.36%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_5_of_5 {
		width: 100%;
	}
	.span_4_of_5 {
		width: 100%;
	}
	.span_3_of_5 {
		width: 100%;
	}
	.span_2_of_5 {
		width: 100%;
	}
	.span_1_of_5 {
		width: 100%;
	}
}


/*  NAV BAR  */

.logo {
  float: left;
  padding-top: 10px;
}

#nav-bar {
  background: #A2BF4B;
  width: 1258px;
  margin-left: auto;
  margin-right: auto;
}
#nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}

#nav-bar ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#nav-bar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#nav-bar.align-right ul li {
  float: right;
}
#nav-bar.align-center ul {
  text-align: center;
}
#nav-bar ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#nav-bar ul li a:hover {
  color: #333333;
}
#nav-bar ul li a:hover:before {
  width: 100%;
}
#nav-bar ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#nav-bar ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#nav-bar ul li.last > a:after,
#nav-bar ul li:last-child > a:after {
  display: none;
}
#nav-bar ul li.active a {
  color: #333333;
}
#nav-bar ul li.active a:before {
  width: 100%;
}
#nav-bar.align-right li.last > a:after,
#nav-bar.align-right li:last-child > a:after {
  display: block;
}
#nav-bar.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #nav-bar ul li {
    float: right;
    display: block;
  }
  #nav-bar ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }

}
