// Place all the styles related to the hackathons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0.8% 0.8% 0.8% 0.8%;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0% 0 0% 0.8%;
}
.col:first-child { margin-left: 0; }

/*TILE STYLING*/

#title, #new_hackathon, #submit {
	box-sizing: border-box;
	height: 240px;
	display: table;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

#title {
  background-color: #12b0c5;
}

	h2 {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	}

#new_hackathon {
  background-color: #12b0c5;
  font-size: 20px;
}

	#new_hackathon.new_hackathon {
		margin: 0;
		padding: 0;
		vertical-align: middle;
		display: table-cell;
	}

	input#hackathon_name {
		height: 40px;
		width: 220px;
		font-size: 25px;
	}

	select#hackathon_end_time_1i {
		height: 30px;
		width: 70px;
		font-size: 15px;
	}

	select#hackathon_end_time_2i {
		height: 30px;
		width: 110px;
		font-size: 15px;
	}

	select#hackathon_end_time_3i {
		height: 30px;
		width: 50px;
		font-size: 15px;
	}

	select#hackathon_end_time_4i {
		height: 30px;
		width: 50px;
		font-size: 15px;
	}

	select#hackathon_end_time_5i {
		height: 30px;
		width: 50px;
		font-size: 15px;
	}

