/* WHOLE FORM */

#new_project {
  height: 240px;
  box-sizing: border-box;
  display: table;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #12b0c5;
}

  #new_project.new_project {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display: table-cell;
    font-weight: 700;
    text-align: center;
  }


/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 0.8%;
}
.col:first-child { margin-left: 0; }

input.milestone
{
  width: 30px;
  height: 30px;
}

#submit {
  background-color: #eb9c3c;
}

  input {
    height: 40px;
    width: 220px;
    font-size: 25px;
    padding-right: 10px;
  }

  

  input[type=submit] {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    color: #ffffff;
    height: 46px;
    font-size: 20px;
    background: #dc5945;
    padding: 12px 17px 16px 20px;
    border: solid #050505 1px;
    text-decoration: none;
  }

  input[type=submit]:hover {
    background: #ab3321;
    text-decoration: none;
  }


