<% content_for :title do %>
  September's super sweet dashboard
<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div id="welcome-widget" data-id="welcome" data-view="Text" data-title="Hello September" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

  </ul>

</div>
