<% content_for :title do %>
  Trackathon dashboard
<% end %>

<% @name = Hackathon.last.name %>  <!-- ugly, but required by dashing? -->
<% @end_time = Hackathon.last.end_time %>

<% if Hackathon.last.projects.last != nil %>
  <% @project1 = Hackathon.last.projects.last.name %>
<% else %>
  <% @project1 = 'Blank' %>
<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div id="welcome-widget" data-id="welcome" data-view="Text" data-title="Hello <%= @hackathon.name.capitalize %>" data-text="This is your hackathon dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="clock-widget" data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li> -->

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div id="countdown-widget" data-view="Countdown" data-title="Time remaining" data-end="<%= @end_time %>"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div id="project-progress-widget" data-id="project" data-view="Project" data-title="<%= @project1 %>" data-min="0" data-max="100"></div>
    </li> 

  </ul>

</div>
