<% content_for :title do %>
  September's super sweet dashboard
<% end %>

<% @name = Hackathon.first.name %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div id="welcome-widget" data-id="welcome" data-view="Text" data-title="Hello <%= @name.capitalize %>" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="clock-widget" data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div id="countdown-widget" data-view="Countdown" data-title="Time remaining" data-finishtime="05-Dec-2014 17:00:00"></div>
      <i class="icon-time icon-background"></i>
    </li>

  </ul

</div>
